.about__time-stripe-white {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
}
@media (max-width: 768px) {
    .about__time-stripe-white {
        width: 65%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F2F2F2;
    }
}