.control-panel__bottom {
    padding-top: 33px;
    display: flex;
    justify-content: space-between;
    width: 167px;
    align-items: center;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .control-panel__bottom {
        flex-direction: row-reverse;
        width: 100%;
        justify-content: end;
    }
  }