.profile__input-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: none;
    border-bottom: 1px solid #E8E8E8;;
    padding-bottom: 16px;
    position: relative;
}
.profile__input-wrapper:last-child{
    border: none;
    margin-top: 17px;
}