.sign__button {
    width: 396px;
    height: 45px;
    border-radius: 3px;
    background-color: #3456F3;
    color: white;
    text-align: center;
    vertical-align: middle;
    outline: none;
    border: none;
    margin-bottom: 16px;
    margin-top: 128px;
}