.sign__question-button {
    color: #3456F3;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: transparent;
    border: none;
}
.sign__question-button:hover {
    cursor: pointer;
}
@media (max-width: 768px) {
    .sign__question-button {
        color: #3456F3;
        text-align: center;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}