.sign__title {
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 40px;
    margin-bottom: 40px;
}
@media (max-width: 768px) {
    .sign__title {
        margin-top: 50px;
        margin-bottom: 80px;
    }
}