.portfolio__main {
    display: flex;
    justify-content: space-between;
    padding-top: 66px;
    padding-bottom: 101px;
}
@media (max-width: 768px) {
    .portfolio__main {
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 60px;
        padding-bottom: 70px;
    }
}