.header__sign-in {
    width: 76px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 3px;
    background: #2BE080;
    color: #000;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
    outline: none;
    border: none;
    cursor: pointer;
}