.about__text {
    padding-top: 70px;
    padding-bottom: 110px;
    gap: 40px;
    display: flex;
    justify-content: space-between;
}
@media (max-width: 768px) {
    .about__text {
        flex-direction: column;
    }
  }